<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
     xmlns:atom="http://www.w3.org/2005/Atom" 
     xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
     xmlns:podcast="https://podcastindex.org/namespace/1.0" version="2.0">
  <channel>
    <title>{{CHANNEL_TITLE}}</title>
    <podcast:locked>no</podcast:locked>
    <podcast:guid>{{CHANNEL_GUID}}</podcast:guid>
    <atom:link href="{{CHANNEL_URL}}" rel="self" type="application/rss+xml" />
    <rawvoice:rating>TV-G</rawvoice:rating>
    <rawvoice:location>{{CHANNEL_TITLE}}</rawvoice:location>
    <rawvoice:frequency>Weekly</rawvoice:frequency>
    <itunes:author>{{CHANNEL_AUTHOR_EMAIL}}</itunes:author>
    <itunes:category text="Kids &amp; Family" >
    <itunes:category text="Stories for Kids" />
    </itunes:category>
    <itunes:subtitle>Seulement pour les enfants sages !</itunes:subtitle>
    <itunes:summary>De petites histoires, a lire ou a ecouter avant d'aller au lit.
    Des contes merveilleux classiques, ou parfois adaptees librement, occidentaux mais aussi d'autres regions du monde.
    Pour les curieux, le lien a la classification ATU est presente pour permettre d'explorer toutes le variantes au dela
    de ce que l'industrie des loisir peut parfois presenter comme une histoire unique.</itunes:summary>
    <description>Une petite histoire avant d'aller au lit
    Des contes merveilleux classiques, ou parfois adaptees librement, occidentaux mais aussi d'autres regions du monde.
    Pour les curieux, le lien vers la classification ATU est presente pour permettre d'explorer toutes le variantes au dela
    de ce que l'industrie des loisir peut parfois presenter comme une histoire unique.</description>
    <image>
      <url>https://oberron.github.io/spark-fi/static/img/moon.png</url>
      <title>{{CHANNEL_TITLE}}</title>
      <link>https://oberron.github.io/spark-fi/</link>
    </image>
    <itunes:owner>
      <itunes:name>{{CHANELL_AUTHOR_NAME}}</itunes:name>
      <itunes:email>{{CHANNEL_AUTHOR_EMAIL}}</itunes:email>
    </itunes:owner>
    <itunes:keywords>comptines, histoires</itunes:keywords>
    <copyright>Entolusis - 2004 - 2023</copyright>
    <language>fr-fr</language>
    <itunes:explicit>no</itunes:explicit>
    <pubDate>Sat, 10 Oct 2020 11:00:00 GMT</pubDate>
    <link>https://oberron.github.io/spark-fi/</link>
    <itunes:image href="https://oberron.github.io/spark-fi/static/img/moon.png" />