    <item>
      <itunes:author>{{AUTHOR}}</itunes:author>
      <title>{{ITEM_TITLE}}</title>
      <itunes:title> {{ITEM_TITLE}} </itunes:title>
      <itunes:subtitle> {{ITEM_SUBTITLE}} </itunes:subtitle>
      <itunes:summary> {{ITEM_SUMMARY}}</itunes:summary>
      <pubDate>{{ITEM_PUBDATE}}</pubDate>
      <enclosure url="https://oberron.github.io/spark-fi/player/web/audio/{{ITEM_FN}}" type="audio/mpeg" length="{{ITEM_SIZE}}" />
      <itunes:duration>{{ITEM_DURATION}}</itunes:duration>
      <guid isPermaLink="false">{{ITEM_GUID}}</guid>
      <itunes:explicit>false</itunes:explicit>
      <description> {{ITEM_DESCRIPTION}} </description>
    </item>